@import "_variables";

html, body, #root {
	margin: 0;
	font-family: $font, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	overflow: hidden;
	user-select: none;
	font-size: 16px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1, h2, h3, h4, h5, h6, p, div, section, span, input, ul, li, button {
	padding: 0;
	margin: 0;
}

.page {
	margin-top: 100px;
}